<!doctype html>

{% set courseButtonWidthPx = '50' %}
{% set courseFontSize = '50' %}
{% set buttonFontSize = '20' %}
{% set buttonSize = '50' %}
{% set tackButtonWidthPx = '150' %}
<script>
    var smallDegrees = '2';
    var bigDegrees = '10';
    var tackDegrees = '100';
    var update_frequency_ms = 100;
</script>

<link href="/static/simple-switch.min.css" rel="stylesheet" />
<link href="/static/autopilot.css" rel="stylesheet" />

<html>

<title>Autopilot</title>
<body>

<div style="text-align: center;">
    <p><input id='onOffInput' type="checkbox" class="mybox" onclick="onOffHandler()"></p>
    <p>
        <span id="course"
              style="font-family: monospace, sans-serif Bold; font-style: normal; font-variant: normal; font-size : {{courseFontSize}}px;">
         Disconnected</span>
    </p>
    <p>
        <input id='bigDec'
               type='button'
               style="font-size : {{buttonFontSize}}px; width: {{ courseButtonWidthPx }}px; height: {{buttonSize}}px; border-radius: 6px"
               class='autopilot_control_button' value='Disconnected' onclick='bigDecHandler()'/>
        <input id='smallDec'
               type='button'
               style="font-size : {{buttonFontSize}}px; width: {{ courseButtonWidthPx }}px; height: {{buttonSize}}px; border-radius: 6px"
               class='autopilot_control_button' value='Disconnected' onclick='smallDecHandler()'/>
        <input id='smallInc'
               type='button'
               style="font-size : {{buttonFontSize}}px; width: {{ courseButtonWidthPx }}px; height: {{buttonSize}}px; border-radius: 6px"
               class='autopilot_control_button' value='Disconnected' onclick='smallIncHandler()'/>
        <input id='bigInc'
               type='button'
               style="font-size : {{buttonFontSize}}px; width: {{ courseButtonWidthPx }}px; height: {{buttonSize}}px; border-radius: 6px"
               class='autopilot_control_button' value='Disconnected' onclick='bigIncHandler()'/>
    </p>
    <p>
        <input id='tackDec'
               type='button'
               style="font-size : {{buttonFontSize}}px; width: {{ tackButtonWidthPx }}px; height: {{buttonSize}}px; border-radius: 6px"
               class='autopilot_control_button' value='Disconnected' onclick='tackDecHandler()'/>
        <input id='tackInc'
               type='button'
               style="font-size : {{buttonFontSize}}px; width: {{ tackButtonWidthPx }}px; height: {{buttonSize}}px; border-radius: 6px"
               class='autopilot_control_button' value='Disconnected' onclick='tackIncHandler()'/>
    </p>
    <p>
        <h2>COMPASS: <span id="heading">Disconnected</span></h2>
        <h2>HEEL: <span id="heel">Disconnected</span></h2>
    </p>
    <p>&nbsp<span id="messages">Disconnected</span></p>
    <p>
        <label for="interfaceCheckbox"><input id='interfaceCheckbox' type='checkbox' name='Debug'/>Show interface status</label>
        <br/><span id="interfaceMessageArea">Disconnected</span>
    </p>
    <canvas width="760" height="300" id="rudder-gauge" style="width: 380px; height: 150px;"></canvas>
    <div id="rudder-gauge-text" style="font-size: 30px;">0</div>
    <script>
        var $SCRIPT_ROOT = {{request.script_root | tojson | safe }};
        var timeout_ms = update_frequency_ms;
    </script>
    <script src="/static/jquery-3.6.4.min.js"></script>
    <script src="/static/jquery.simpleswitch.min.js"></script>
    <script src="/static/gauge.js"></script>
    <script src="/static/jquery.autopilotmain.js"></script>

</div>

</body>
</html>
